{% load pages_tags i18n %}
<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
    <title>{% block meta_title %}{% endblock %}</title>

    <link rel="alternate" type="application/rss+xml" title="RSS" 
        href="{% url blog_post_feed "rss" %}" />
    <link rel="alternate" type="application/atom+xml" title="Atom"  
        href="{% url blog_post_feed "atom" %}" />

<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,regular,bold|Droid+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" />
    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}{% endblock %}">
    
    
<div id="grid-top">
     <div class="container_12">
         <div id="ombre_g"></div>
    <a href="/" title="Ekipeo RH"><img id="logo" src="{{ MEDIA_URL }}img/logo250.png" alt="Ekipeo RH"></a>
    <span id="slogan">{{ settings.SITE_TAGLINE }}</span>
    <div id="ombre_d"></div>
    </div>
    
    <div id="menuh" class="container_12">
    {% page_menu "pages/menus/primary.html" %}
    </div>
    
</div>
<div id="grid-top2">
    <div id="bas-header" class="container_12">
        
    </div>    
</div>

<div id="content" class="container_12 clearfix">

    <div id="grid-middle" class="grid_7 grid">
        <div class="gutter">
            <h1>{% block title %}{% endblock %}</h1>
            <div id="breadcrumb-menu">
                {% block breadcrumb_menu %}
                    {% page_menu "pages/menus/breadcrumb.html" %}
                {% endblock %}
            </div>
            {% block main %}{% endblock %}
        </div>
    </div>

    <div id="grid-right" class="grid_5 grid">
        {% include "includes/search.html" %}
        
        
        {% block right_panel %}
        
        
            {% include "twitter/tweets.html" %}
            
            
        {% endblock %}
        
        
        <p class="mezzanine">
            {% trans "Powered by" %} 
            <a href="http://mezzanine.jupo.org">Mezzanine</a><br />
            <a href="{% url set_device "mobile" %}?next={{ request.path }}">
                {% trans "View Mobile Site." %}
            </a>
        </p>
    </div>

</div>

<div id="grid-bottom">
    <div class="container_12 clearfix">
        <div class="grid_10 push_1 grid">
            {% page_menu "pages/menus/footer.html" %}
        </div>
        

    </div>
</div>



{% include "includes/footer_scripts.html" %}
</body>
</html>

